.menu {
    padding-top: 40px;
    padding-bottom: 25px;
}

.menu-box {
    padding: 25px 45px;
    background-color: #F1F1F1;
    border-radius: 10px;
}

.menu__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 20px;
}

.menu__list {
    padding-left: 20px;
    color: #02535F;
    margin: 0;
    
}

.menu__link {
    display: inline-block;
    border-bottom: 1px solid #02535F;
}

.menu__item:not(:last-child) {
    margin-bottom: 10px;
}
